body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #0B2E33;
    color: #B8E3E9
}

h1, h2, p {
    text-align: center;
    color: #B8E3E9;
}

a {
    display: block;
    text-align: center;
    margin: 5px 0;
    color: #B8E3E9
}

form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    text-align: center;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #0B2E33;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #B8E3E9;
    text-align: left;
}

th {
    background-color: #0B2E33;
}

.menu-bar {
    display: flex; 
    gap: 15px; 
    margin-bottom: 15px;
}