body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #A6BEFF;
}

h1, h2, p {
    text-align: center;
    color: #333;
}

a {
    display: block;
    text-align: center;
    margin: 5px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
